.pick-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 35vw;
    overflow: hidden;
    /* padding: 1vw; */
}
/* .pick-addContainer{
    margin: 4vw;
} */

.pick-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    /* padding: 0.5vw; */

}