.pick-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 40vw;
    /* overflow: hidden; */
    /* padding: 1vw; */
}

.pick-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2vw;
    padding: 2px;
    font-size: 15px;
    align-items: center;
}
.checkbox-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3px
    
}

/* .checkbox-div p{
    padding: 4px;
} */
