.sideBar{
    background: url('../../../public/img/sidebar.svg');
    background-repeat: no-repeat;
    background-size:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 18vw;
    padding-top: 1.5rem;
    gap: 2rem;
    border-radius: 16px;
    color: white;
}


.transparent{
    background:transparent;
    color: white;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 0.5rem;

}

.step-active{
    background: hsl(206, 94%, 87%);
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 0.5rem;
    
}


.step{
    /* background: #000; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    padding-left: 1.5rem;
}



