.sideBar{
    background: url('../../../public/img/sidebar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    width: 20vw;
    height: 50vw;
    padding-top: 1.5rem;
    gap: 2rem;
    border-radius: 16px;
    color: white;
}

.step button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color:hsl(243, 100%, 62%);
    margin-top: 0.5rem;
    color: white;
    /* background-color: blue; */
}

.step{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 4vw;
    width: 20vw;
    padding-left: 2rem;
}