.sideBar{
    background: url('../../../public/img/sidebar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 38vw;
    padding-top: 1.5rem;
    gap: 2rem;
    border-radius: 16px;
    color: white;
}


.transparent{
    background:transparent;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 0.5rem;
   
}

.active{
    background: hsl(206, 94%, 87%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 0.5rem;
    
}


.step{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 2vw;
    width: 15vw;
    padding-left: 2rem;
}

