.App{
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vh;
  align-items: center;
  justify-content: center;
  padding: 8.5rem;
  margin: 2vw;
  background-color: white;
  border-radius: 16px;
  gap: 2rem;
}


.color-grey{
  color: grey;
}

.color-blue{
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.color-purple{
  color:hsl(243, 100%, 62%);
}


