.App{
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 90vh;
  align-items: center;
  justify-content: center;
  padding: 8.5rem;
  margin: 25vw;
  background-color: white;
  border-radius: 16px;
  gap: 2rem;
}
