body{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(229, 24%, 87%);
}

.next-btn{
  right:20%;
  bottom: 10%;
  width: 6.5rem;
  height: 3rem;
  border:none;
  border-radius: 12px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-size: 17px;
  
}
.back-btn{
  right:20%;
  bottom: 10%;
  width: 6.5rem;
  height: 3rem;
  border: none;
  background-color:white;
  color: hsl(213, 96%, 18%);
  font-size: 20px;
}

